@import './NotesActions.less';

.notesView {
  height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr;
  border-left: 2px solid #ccc;
}

.notesView-content {
  padding: 10px;
  overflow: auto;
  box-shadow: inset 0px 3px 5px -3px rgb(0 0 0 / 10%);

  [aria-hidden="true"] {
    display: none;
  }

  h1 {
    font-size: 2em;
  }
}

.notesView--empty {
  font-size: 3vw;
  font-weight: bold;
  opacity: 0.4;
}

.notesView--empty,
.notesView--loading {
  display: flex;
  align-items: center;
  justify-content: center;
}